.subnav{
    margin: 0 5vw;
    padding: 0 2%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.subnav button{
    color: #000000;
    margin: 10px;
    padding: 0 1%;
    border: solid 3px #46ada3;
    border-radius: 5px;
    background-color: inherit;
    min-width: 150px;
    height: 50px;
    font-size: 20px;
}
.subnav button:hover{
    background-color: #46ada3;
    cursor: pointer;
}
.subnav::-webkit-scrollbar{
    display: none;
}

.items{
    display: grid;
    gap: 7px;
    margin: 1%;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 1fr;
}
.smallitems{
    display: grid;
    gap: 7px;
    margin: 1%;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: 1fr;
}
@media only screen and (min-width: 768px) and (max-width: 1368px){
    .items{
        grid-template-columns: repeat(2,1fr);
    }
    .smallitems{
        grid-template-columns: repeat(4,1fr);
    }
}
@media only screen and (max-width: 768px){
    .items{
        grid-template-columns: repeat(1,1fr);
    }
    .smallitems{
        grid-template-columns: repeat(2,1fr);
    }
}
.items .item{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    word-spacing: normal;
    border: 2px solid #2d726b;
    text-decoration: none;
    color: initial;
    transition: 0.5s;
}
.smallitems .item{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    word-spacing: normal;
    border: 2px solid #2d726b;
    text-decoration: none;
    color: initial;
    transition: 0.5s;
}
.item:hover{
    background-color: #46ada3;
}
.items .item img{
    width: 144px;
    height: 144px;
    object-fit: cover;
}
.smallitems .item img{
    height: 96px;
    width: 96px;
    margin-bottom: 3%;
    object-fit: cover;
}
.items .item .title{
    font-size: 20px;
    text-align: center;
    margin: 0%;
}
.items .item .description,
.items .item .time{
    font-size: 16px;
    text-align: center;
    margin: 0%;
}
.items .item .time{
    color: #666666;
}
.smallitems .item .title{
    font-size: 20px;
    text-align: center;
}
details{
    margin-bottom: 0.5%;
}
summary{
    font-size: 20px;
}
@media only screen and (max-width: 1280px){
    .title{
        font-size: 18px;
    }
    .description{
        font-size: 15px;
    }
}

/* popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
    width: 80%;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popup-content {
    max-height: 70vh;
    overflow-y: auto;
}
.popup-content::-webkit-scrollbar {
    width: 5px;
}
.popup-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid slategrey;
}
.popup-content h2{
    margin: 1.5% 0;
    font-size: 30px;
}
.popup-content h3{
    margin: 1.5% 0;
    font-size: 25px;
}
.popup-content p{
    margin: 1% 0;
    font-size: 20px;
}
.close-btn {
    display: block;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    color: #007BFF;
}