form{
    width: 90vw;
    margin: 0 2.5vw;
    margin-bottom: 40px;
    padding: 2.5vw;
    border: solid 5px #46ada3;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
li{
    display: flex;
    align-items: stretch;
    margin-bottom: 30px;
}
label{
    display: inline-flex;
    width: 250px;
    height: 40px;
    margin-right: 10px;    
}
.text{
    width: 75%;
    height: 40px;
    border: 0;
    border-bottom: solid 3px #46ada3;
    background-color: #81D8D0;
    outline: none;
    font-size: 18px;
}
.text::-webkit-input-placeholder{
    font-family: sans-serif;
    font-size: 18px;
}
/*
.option{
    opacity: 0;
}
.optionw{
    display: block;
    margin-bottom: 15px;
    border: solid 1px #46ada3;
}
.option:hover+.optionw{
    background-color: #46ada3;
}
.option:checked+.optionw{
    background-color: #46ada3;
}
*/
textarea{
    resize: none;
    width: 75%;
    min-height: 100px;
    border: 0;
    border-bottom: solid 3px #46ada3;
    background-color: #81D8D0;
    outline: none;
    font-size: 18px;
}
textarea::-webkit-input-placeholder{
    font-family: sans-serif;
    font-size: 18px;
}
.g-recaptcha{
    margin: 10px 0;
    margin-left: 30px; 
}
#buttonblock{
    display: flex;
    justify-content: center;
}
button{
    margin: 10px;
    border: solid 3px #46ada3;
    border-radius: 20px;
    background-color: #81D8D0;
    width: 200px;
    height: 50px;
    font-size: 20px;
    transition: 0.3s;
}
button:hover{
    background-color: #46ada3;
}