#postdetail{
    margin: 1% 2%;
    display: inline-flex;
    align-items: end;
}
#back{
    overflow: hidden;
    font-size: 40px;
}
#back a{
    color: #2d726b;
}
#back a:hover{
    color: #46ada3;
}
#posttitle{
    font-size: 30px;
    padding-left: 15px;
}
#posttime{
    font-size: 30px;
    padding-right: 15px;
    border-right: solid 4px #2d726b;
}
#postdiv{
    float: left;
    width: 92%;
    min-height: 120px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 1% 2%;
    padding: 0% 2%;
    border-radius: 15px;
    overflow: hidden;
    color: #000000;
    box-shadow: 0 10px 10px -5px;
    font-size: 20px;
}