#postdetail{
    margin: 1% 5vw 0 5vw;
}
#backdiv{
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    width: fit-content;
    margin-left: 5vw;
}
#backdiv span{
    font-size: 25px;
}
#backdiv:hover{
    color: #999999;
}
#back{
    overflow: hidden;
}
@media only screen and (max-width: 768px){
    #backdiv{
        display: none;
    }
}
#postdetail #posttime{
    font-size: 30px;
    padding-left: 2%;
}
#postdetail #posttitle{
    font-size: 30px;
    padding-left: 2%;
}
#postdiv{
    width: 100%;
    min-height: 120px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 1% 2%;
    padding: 2%;
    border-radius: 15px;
    overflow: hidden;
    color: #000000;
    box-shadow: 0 10px 10px -5px;
    font-size: 20px;
}